body{
  background-color: gold
}

.box1{
  margin-top: 20px;
  padding: 20px;
  width:200px;
  height:300px;
  background-color: #b3d4fc;
  float: left;
  margin-left: 45px;
}
.box2{
  margin-top:20px ;
  padding: 20px;
  width:200px;
  height:300px;
  background-color: goldenrod;
  float:left;
  margin-left: 45px;
}
.box3{
  margin-top: 20px;
  padding: 20px;
  width:200px;
  height:300px;
  background-color: #197aef;
  float: left;
  margin-left: 45px;
}
.box4{
  margin-top: 20px;
  padding: 20px;
  width:200px;
  height:300px;
  background-color:blueviolet;
  float: left;
  margin-left: 45px;
}
.box5{
  margin-top: 20px;
  padding: 20px;
  width:200px;
  height:300px;
  background-color: #1e1616;
  float: left;
  margin-left: 45px;
}
.box6{
  margin-top: 20px;
  padding: 20px;
  width:200px;
  height:300px;
  background-color: #85195f;
  float: left;
  margin-left: 45px;
}
h2{
  color: white;
}
p{
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
h2{
  color: white;
}
p{
  color:white ;
}
.bn-button{
  background-color: darkcyan;
  width: 100px;
  height:30px ;
  margin-left:50px;
}
.bn{
  background-color: darkcyan ;
  width:100px ;
  height:30px ;
  margin-left:50px ;
}
.b{ background-color: darkcyan;
  width: 100px;
  height:30px ;
  margin-left:50px;
}
.n{ background-color:darkcyan;
  width: 100px;
  height:30px ;
  margin-left:50px;
}

.g{ background-color: darkcyan;
  width: 100px;
  height:30px ;
  margin-left:50px;}
.button {
  background-color: darkcyan;
  width: 100px;
  height: 30px;
  margin-left: 50px;
}






